# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

#Node.js and Next.js 
node_modules/
.next/
out/

#Python Files
__pycache__/
*.pyc 
*.pyo 
*.pyd 
env/
venv/

#Firebase Credentials and files
**/baseballdashboard-firebase-adminsdk-fbsvc-22f91b73de.json

#Environment Files
.env
.env.local 
